.task-container {
  background-color: #444;
  margin: 8px 0;
  padding: 15px 20px;
  display: flex;
  border-radius: 5px;
  justify-content: space-between;
  color: #eee;
  align-items: center;
  transition: background-color 0.1s ease, color 0.1s ease;
}

.task-container:hover {
  background-color: #353535;
}

.task-container:hover .remove-task-button,
.task-container:hover .see-task-details-button {
  background-color: #353535;
}

.task-title {
  cursor: pointer;
}

.buttons-container {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.remove-task-button,
.see-task-details-button {
  background-color: #444;
  border: none;
  font-size: 24px;
  color: red;
  cursor: pointer;
  margin: 0 5px;
}

.remove-task-button:hover,
.see-task-details-button:hover {
  color: #fff;
}
