.task-details-container {
  background: #444;
  margin: 15px 0px;
  padding: 8px 20px 15px 20px;
  display: flex;
  flex-direction: column;
  color: #eee;
  border-radius: 5px;
}

.task-details-container h2 {
    margin-bottom: 55px;
    color: red;
}

.back-button-container{
    width: 30%;
    margin-top: 10px;
}